In [2]:
import requests
import json
import pandas as pd

In [11]:
## Open the csv with all the names of the coin pairs ##
pair_list = pd.read_csv("C:\\Users\\Ahmet\\Desktop\\Uni\\TechLab\\Scam Busters\\History_Data_Crypto\\OHLC 400\\rename.csv", 
                        header=1, delimiter=";").iloc[:,1]

pair_name = ("zrx", "usd")      # enter pairs you are looking for
path = "C:\\Users\\Ahmet\\Desktop\\Uni\\TechLab\\Scam Busters\\History_Data_Crypto\\OHLC 400\\" 
# the path to your folder with the data

df = pd.read_csv(path + pair_name[0] + pair_name[1]+ '.csv')    # reads the csv
df['Pair'] = pair_name[0] + " to " + pair_name[1]       # adds column "Pair" with the Pairname
print(df)

                 time     open    close     high      low       volume  \
0       1517287380000  1.77070  1.77070  1.77070  1.77070    13.000000
1       1517287800000  1.77020  1.77020  1.77020  1.77020   194.999356
2       1517287920000  1.75500  1.75500  1.75500  1.75500  1029.936000
3       1517288520000  1.76740  1.76740  1.76740  1.76740   100.000000
4       1517288700000  1.75500  1.75500  1.75500  1.75500   649.315249
...               ...      ...      ...      ...      ...          ...
487877  1642321260000  0.75318  0.75318  0.75318  0.75318    75.514800
487878  1642321500000  0.75246  0.75223  0.75246  0.75223   308.422000
487879  1642321560000  0.75267  0.75267  0.75267  0.75267    74.597100
487880  1642321860000  0.75208  0.75170  0.75208  0.75170   605.458900
487881  1642322220000  0.75314  0.75329  0.75329  0.75314   226.099097

              Pair
0       zrx to usd
1       zrx to usd
2       zrx to usd
3       zrx to usd
4       zrx to usd
...            ...
487877  zrx to usd
487878  zrx to usd
487879  zrx to usd
487880  zrx to usd
487881  zrx to usd

[487882 rows x 7 columns]

In [14]:
# df.time =[
#     pd.to_datetime(ts, unit='ms')
#     for ts 
#     in df.time
# ]

# changes the time to other format (can take a minute to calculate)
df2=df.time.apply(lambda x : pd.to_datetime(x, unit="ms"))
df.head()

            time    open   close    high     low       volume        Pair
0  1517287380000  1.7707  1.7707  1.7707  1.7707    13.000000  zrx to usd
1  1517287800000  1.7702  1.7702  1.7702  1.7702   194.999356  zrx to usd
2  1517287920000  1.7550  1.7550  1.7550  1.7550  1029.936000  zrx to usd
3  1517288520000  1.7674  1.7674  1.7674  1.7674   100.000000  zrx to usd
4  1517288700000  1.7550  1.7550  1.7550  1.7550   649.315249  zrx to usd

,time,open,close,high,low,volume,Pair
0,1517287380000,1.77070,1.77070,1.77070,1.77070,13.000000,zrx to usd
1,1517287800000,1.77020,1.77020,1.77020,1.77020,194.999356,zrx to usd
2,1517287920000,1.75500,1.75500,1.75500,1.75500,1029.936000,zrx to usd
3,1517288520000,1.76740,1.76740,1.76740,1.76740,100.000000,zrx to usd
4,1517288700000,1.75500,1.75500,1.75500,1.75500,649.315249,zrx to usd
...,...,...,...,...,...,...,...
487877,1642321260000,0.75318,0.75318,0.75318,0.75318,75.514800,zrx to usd
487878,1642321500000,0.75246,0.75223,0.75246,0.75223,308.422000,zrx to usd
487879,1642321560000,0.75267,0.75267,0.75267,0.75267,74.597100,zrx to usd
487880,1642321860000,0.75208,0.75170,0.75208,0.75170,605.458900,zrx to usd
487881,1642322220000,0.75314,0.75329,0.75329,0.75314,226.099097,zrx to usd